= form_for @affiliation do |f|
  .field
    =f.label :institute_name, "Name of Program/Center"
    =f.text_field :institute_name
  .field
    =f.label :website, "Website Url"
    =f.text_field :website
  .field
    =f.label :phone, "Main Phone Number of Program/Center"
    =f.text_field :phone
  .field
    =f.label :fax, "Fax Number"
    =f.text_field :fax
  .field
    =f.label :institute_name, "Name of Program/Center"
    =f.text_field :institute_name
  .field
    =f.label :website, "Website Url"
    =f.text_field :website